body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://img.freepik.com/premium-photo/red-blue-background-with-man-red-suit-standing-front-large-red-circle_927978-1356.jpg?w=900');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    background: rgba(255, 255, 255, 0.8); /* Add some opacity to make the content readable */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    margin: 0 0 20px;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
}

input, button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

button {
    background: #007BFF;
    color: #fff;
    border: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li span {
    display: flex;
    flex-direction: column;
}

.total-balance {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
